.main-nav__list {
  padding: 0;
  display: flex;
  list-style: none;
}

.main-nav__item {
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  transition: background 0.2s linear;
  &:hover {
    background-color: #dd4b2b;
  }
  a {
    margin: 0 19px;
    text-decoration: none;
    color: #31353e;
    font-size: 18px;
    transition: color 0.2s linear;
    &:hover {
      color: #fff;
    }
  }
}
