.news {
  @include size(2000px, 785px);
  background-color: $primary-bg;
  text-align: center;
  h2 {
    margin-top: 0;
    margin-bottom: 78px;
    padding-top: 76px;
    font-family: #primary-font;
    font-size: 30px;
  }
}

.news__list {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.news__item {
  margin-right: 24px;
  @include size(371px, 500px);
  h3 {
    margin-top: 32px;
    margin-bottom: 0;
    font-family: $primary-font;
    font-size: 24px;
  }
  p {
    margin: 8px 28px 26px 28px;
    line-height: 2em;
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 15px;
  }
}
