.page-header {
  @include size(2000px, 146px);
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $primary-bg;
  font-family: $primary-font;
}

.page-header__logo {
  margin-top: 12px;
  margin-left: 415px;
  display: inline-block;
  text-align: center;
  h2 {
    margin-bottom: 0;
    font-size: 36px;
  }
  span {
    color: #dd4b2b;
    font-size: 18px;
  }
}
