.product-links {
  @include size(2000px, 404px);
  background-color: #d75d0e;
}

.product-links__wrapper {
  padding-top: 20px;
  padding-left: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-links__list {
  margin-right: 208px;
  height: 254px;
  list-style: none;
}

.product-links__item {
  margin-bottom: 16px;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    font-family: $secondary-font;
    font-size: 18px;
    transition: color 0.2s linear;
    &:hover {
      color: #000;
    }
  }
}
